<div class="menu-item-heading menu-item-display"
     data-menu-item-id="<%= menu_item.id %>">

  <% if (menu_item.escape('image_url')) { %>
    <div class="menu-item-image pull-left">
      <img src="<%= menu_item.escape('image_url') %>">
    </div>
  <% } %>

  <div class="rating pull-right"
       data-score="<%= menu_item.escape('rating') %>">
  </div>

  <strong><%= menu_item.escape('title') %></strong>
  <span class='menu-item-price-user'>$<%= menu_item.escape('price') %></span>
  <br>
  <%= menu_item.escape('description') %>
</div>


<% if (!(menu_item.comments().length === 0)) { %>
  <div class="comments-window">
    <div class="comments-heading">
      <a href="javascript:void(0)"><span class="glyphicon glyphicon-comment"></span> <%= menu_item.comments().length %> Comments</a>
    </div>

    <div class="comments"></div>

  </div>
<% } %>

<div class="add-comment">
  <% if (CURRENT_USER && !CURRENT_USER.provider) { %>
    <a href="javascript:void(0)">Add Comment</a>
  <% } %>
  <div id="comment-form"></div>
</div>
