<!DOCTYPE html>
<html>
<head>
  <title>WaiterUp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
        <% end %>

        <% if flash[:errors] %>
        <ul>
          <% flash[:errors].each do |err| %>
          <li><%= err %></li>
          <% end %>
        </ul>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
