<!DOCTYPE html>
<html>
<head>
  <title>WaiterUp</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7vYTae_GpOuNdjgPs1JkKzMFVBIHs7EE">
  </script>

  <script charset="utf-8">
  $(document).ready(function(){
    $('[data-toggle="floatLabel"]').attr('data-value', $(this).val()).on('keyup change', function() {
      $(this).attr('data-value', $(this).val());
    });
  });
  </script>
</head>
<body class="login-body">
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div>
        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>

        <% if flash[:errors] %>
          <div class='errors-box'>
            <div class="alert alert-danger" role="alert">
              <% flash[:errors].each do |err| %>
              <div class='field-with-error'>
                <span class="glyphicon glyphicon-exclamation-sign"
                      aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <%= err %>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= yield %>

      </div>
    </div>
    <!-- <%#= render 'layouts/footer' %> -->
  </div>
</body>
</html>
